
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/_Layout.cshtml";
    var ListNewProduct = (List<KidsStore.Model.EF.Product>)ViewBag.NewProduct;
    var ListFeatureProduct = (List<KidsStore.Model.EF.Product>)ViewBag.ListFeatureProduct;


}
@section slide

{

<div class="banner">
    <div class="container">
        <div class="banner-text">
            <div class="col-sm-5 banner-left wow fadeInLeft animated" data-wow-delay=".5s">
                <h2>Big Sale</h2>
                <h3>Coming Soon </h3>
                <h4>Summer Hot</h4>
                <div class="count main-row">
                    <ul id="example">
                        <li><span class="hours">00</span><p class="hours_text">Hours</p></li>
                        <li><span class="minutes">00</span><p class="minutes_text">Minutes</p></li>
                        <li><span class="seconds">00</span><p class="seconds_text">Seconds</p></li>
                    </ul>
                    <div class="clearfix"> </div>
                    <script type="text/javascript" src="~/Assest/Client/js/jquery.countdown.min.js"></script>
                 

                    <script type="text/javascript">
								$('#example').countdown({
									date: '12/24/2020 15:59:59',
									offset: -8,
									day: 'Day',
									days: 'Days'
								}, function () {
									alert('Done!');
								});
                    </script>
                </div>

            </div>
            <div class="col-sm-7 banner-right wow fadeInRight animated" data-wow-delay=".5s">
                <section class="slider grid">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <h4>-30%</h4>

                                <img src="~/Assest/Client/images/b1.png" />
                            </li>
                            <li>
                                <h4>-25%</h4>

                                <img src="~/Assest/Client/images/b2.png" />
                            </li>
                            <li>
                                <h4>-32%</h4>

                                <img src="~/Assest/Client/images/b3.png" />
                            </li>
                        </ul>
                    </div>
                </section>
                <!--FlexSlider-->
                <script defer src="~/Assest/Client/js/jquery.flexslider.js"></script>

                <script type="text/javascript">
						$(window).load(function(){
						  $('.flexslider').flexslider({
							animation: "pagination",
							start: function(slider){
							  $('body').removeClass('loading');
							}
						  });
						});
                </script>
                <!--End-slider-script-->
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

     
    }
<div class="new">
    <div class="container">
        <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
            <h3 class="title">Sale <span>Off</span></h3>
            <p>Tất cả những sản phẩm đang được giảm giá tốt nhất </p>
        </div>
        <div class="new-info">
            @foreach(var item in ListNewProduct)
            {
                var url = "/san-pham" + item.MetaTitle + "-" + item.ID;
            <div class="col-md-3 new-grid simpleCart_shelfItem wow flipInY animated" data-wow-delay=".5s">
                <div class="new-top">
                    <a href="@url"><img src="@item.Image" class="img-responsive" alt="@item.Name" /></a>
                   

                    <div class="new-text">
                        <ul>
                            <li><a class="item_add" href="@Url.Action("Index","Cart")"> Thêm vào giỏ hàng</a></li>
                            <li><a href="@url">Xem chi tiết </a></li>
                            <li><a href="@url">Sản Phẩm Khác </a></li>
                        </ul>
                    </div>
                </div>
                <div class="new-bottom">
                    <h5><a class="name" href="@url">@item.Name </a></h5>
                    <div class="rating">
                        <span class="on">☆</span>
                        <span class="on">☆</span>
                        <span class="on">☆</span>
                        <span class="on">☆</span>
                        <span>☆</span>
                    </div>
                    <div class="ofr">
                        <p class="pric1"><del>200.000vnd</del></p>
                        <p><span class="item_price">@item.Price</span></p>
                    </div>
                </div>
            </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="gallery">
    <div class="container">
        <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
            <h3 class="title">Popular<span> Products</span></h3>
            <p>Những sản phẩm mới nhất dành cho bé </p>
        </div>
        <div class="gallery-info">

            <div class="col-md-3 gallery-grid wow flipInY animated" data-wow-delay=".5s">
                <a href="products.html"><img src="~/Assest/Client/images/g1.jpg" class="img-responsive" alt="" /></a>

                <div class="gallery-text simpleCart_shelfItem">
                    <h5><a class="name" href="single.html">Áo Bé Gái </a></h5>
                    <p><span class="item_price">100.000vnd</span></p>
                    <h4 class="sizes">Sizes: <a href="#"> s</a> - <a href="#">m</a> - <a href="#">l</a> - <a href="#">xl</a> </h4>
                    <ul>
                        <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
                        <li><a class="item_add" href="#"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 gallery-grid gallery-grid1 wow flipInY animated" data-wow-delay=".7s">
                <a href="products.html"><img src="~/Assest/Client/images/g2.jpg" class="img-responsive" alt="" /></a>

                <div class="gallery-text simpleCart_shelfItem">
                    <h5><a class="name" href="single.html">Áo Liền Pokemon</a></h5>
                    <p><span class="item_price">79.000vnd</span></p>
                    <h4 class="sizes">Sizes: <a href="#"> s</a> - <a href="#">m</a> - <a href="#">l</a> - <a href="#">xl</a> </h4>
                    <ul>
                        <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
                        <li><a class="item_add" href="#"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 gallery-grid gallery-grid2 wow flipInY animated" data-wow-delay=".9s">
                <a href="products.html"><img src="~/Assest/Client/images/g3.jpg" class="img-responsive" alt="" /></a>

                <div class="gallery-text simpleCart_shelfItem">
                    <h5><a class="name" href="single.html">Doctor Play Set</a></h5>
                    <p><span class="item_price">300.000nvd</span></p>
                    <h4 class="sizes">Sizes: <a href="#"> s</a> - <a href="#">m</a> - <a href="#">l</a> - <a href="#">xl</a> </h4>
                    <ul>
                        <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
                        <li><a class="item_add" href="#"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 gallery-grid wow flipInY animated" data-wow-delay="1.1s">
                <a href="products.html"><img src="~/Assest/Client/images/g4.jpg" class="img-responsive" alt="" /></a>

                <div class="gallery-text simpleCart_shelfItem">
                    <h5><a class="name" href="single.html">Mũ & Bao Tay</a></h5>
                    <p><span class="item_price">150.000vnd</span></p>
                    <h4 class="sizes">Sizes: <a href="#"> s</a> - <a href="#">m</a> - <a href="#">l</a> - <a href="#">xl</a> </h4>
                    <ul>
                        <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
                        <li><a class="item_add" href="#"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 gallery-grid wow flipInY animated" data-wow-delay=".5s">
                <a href="products.html"><img src="~/Assest/Client/images/g5.jpg" class="img-responsive" alt="" /></a>

                <div class="gallery-text simpleCart_shelfItem">
                    <h5><a class="name" href="single.html">Bộ HelloKitty</a></h5>
                    <p><span class="item_price">160.000vnd</span></p>
                    <h4 class="sizes">Sizes: <a href="#"> s</a> - <a href="#">m</a> - <a href="#">l</a> - <a href="#">xl</a> </h4>
                    <ul>
                        <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
                        <li><a class="item_add" href="#"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 gallery-grid gallery-grid1 wow flipInY animated" data-wow-delay=".7s">
                <a href="products.html"><img src="~/Assest/Client/images/g6.jpg" class="img-responsive" alt="" /></a>

                <div class="gallery-text simpleCart_shelfItem">
                    <h5><a class="name" href="single.html">Váy Dạ Tiệc</a></h5>
                    <p><span class="item_price">800.000vnd</span></p>
                    <h4 class="sizes">Sizes: <a href="#"> s</a> - <a href="#">m</a> - <a href="#">l</a> - <a href="#">xl</a> </h4>
                    <ul>
                        <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
                        <li><a class="item_add" href="#"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 gallery-grid gallery-grid2 wow flipInY animated" data-wow-delay=".9s">
                <a href="products.html"><img src="~/Assest/Client/images/g7.jpg" class="img-responsive" alt="" /></a>

                <div class="gallery-text simpleCart_shelfItem">
                    <h5><a class="name" href="single.html">Túi Gấu</a></h5>
                    <p><span class="item_price">110.000vnd</span></p>
                    <h4 class="sizes">Sizes: <a href="#"> s</a> - <a href="#">m</a> - <a href="#">l</a> - <a href="#">xl</a> </h4>
                    <ul>
                        <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
                        <li><a class="item_add" href="#"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 gallery-grid wow flipInY animated" data-wow-delay="1.1s">
                <a href="products.html"><img src="~/Assest/Client/images/g8.jpg" class="img-responsive" alt="" /></a>

                <div class="gallery-text simpleCart_shelfItem">
                    <h5><a class="name" href="single.html">Xe Cảnh Sát</a></h5>
                    <p><span class="item_price">3.000.000vnd</span></p>
                    <h4 class="sizes">Sizes: <a href="#"> s</a> - <a href="#">m</a> - <a href="#">l</a> - <a href="#">xl</a> </h4>
                    <ul>
                        <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
                        <li><a class="item_add" href="#"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//gallery-->
<!--trend-->
<div class="trend wow zoomIn animated" data-wow-delay=".5s">
    <div class="container">
        <div class="trend-info">
            <section class="slider grid">
                <div class="flexslider trend-slider">
                    <ul class="slides">
                        <li>
                            <div class="col-md-5 trend-left">

                                <img src="~/Assest/Client/images/t1.png" />
                            </div>
                            <div class="col-md-7 trend-right">
                                <h4>Top 10 Sản Phẩm <span>Cho Bé</span></h4>
                                <h5>Sale 20%</h5>
                                <p>Bộ váy màu hồng đáng yêu, cùng bé tỏa sáng khi đi ra ngoài cùng bố mẹ, tham gia các buổi tiệc . Đi chơi.</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="col-md-5 trend-left">

                                <img src="~/Assest/Client/images/t2.png" />
                            </div>
                            <div class="col-md-7 trend-right">
                                <h4>Top 10 Sản Phẩm <span>Cho Bé</span></h4>
                                <h5>Sale 20%</h5>
                                <p>Bộ đồ chơi, kích thích sự sáng tạo của bé, cùng bé phát triển và khơi gậy những tài năng tiềm ẩn của bé.</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="col-md-5 trend-left">

                                <img src="~/Assest/Client/images/t3.png" />
                            </div>
                            <div class="col-md-7 trend-right">
                                <h4>Top 10 Sản Phẩm <span>Cho Bé</span></h4>
                                <h5>Sale 20% </h5>
                                <p>Xe đẩy cho bé, với thiết kế hiện đại, chất liệu nhập ngoại.Sự lựa chọn lý tưởng cho bố mẹ khi ra ngoài cùng bé.</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="col-md-5 trend-left">

                                <img src="~/Assest/Client/images/t4.png" />
                            </div>
                            <div class="col-md-7 trend-right">
                                <h4>Top 10 Sản Phẩm <span>Cho Bé</span></h4>
                                <h5>Sale 20% </h5>
                                <p>Ghế ngồi ăn cho bé, cùng các con vật và họa tiết bắt mắt sẽ giúp bé có nhưng giây phút vui chơi và ngoan ngoãn ăn.</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>